/*--------------------------------------------------------------------------------
------------------  Lovingly hand coded by Chris Jefferies  ----------------------
------------------------------  cjefferies.com  ----------------------------------
--------------------------------------------------------------------------------*/
/*----------------
---- Homepage ----
----------------*/
body {
  margin: 0;
  padding: 0;
}
#spacer-top {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2d2a29;
}
#spacer-bottom {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
#constr {
  font-family: ubuntu;
  font-size: 18px;
  text-align: center;
  color: #afab9d;
  padding: 30px 20px;
}
/*--------------------
---- Hero Section ----
--------------------*/
#hero-section {
  background-image: url('../images/sandpaper_d.png');
  width: 100%;
  display: block;
  height: 1200px;
}
#hero-section p {
  font-size: 4px;
}
#hero-section h2,
#hero-section h3 {
  font-family: 'ubuntu';
  color: #afab9d;
  padding: 10px 0 20px 0;
  width: 90%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 45px;
  padding-top: 40px;
}
#hero-section h3 {
  font-size: 22px;
  font-weight: 400;
  padding: 0 0 20px 0;
}
#hero-section h3 img {
  height: 22px;
}
#hero-section a {
  width: 200px;
  height: 75px;
  display: block;
  margin: 0 auto;
  font-family: 'ubuntu';
  font-size: 24px;
  background-color: #ddd;
  color: #000;
  text-decoration: none;
  text-align: center;
  box-shadow: -5px -5px 0px #aaaaaa inset;
}
#hero-section a h5 {
  padding-top: 22px;
  font-size: 26px;
  margin: 0;
  color: #333;
}
#logotop {
  height: 40px;
  width: 90%;
  padding-top: 100px;
  margin: 0 auto;
}
#logotop img {
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#heroimg {
  width: 100%;
  padding-top: 80px;
}
#heroimg img {
  width: 100%;
  height: auto;
}
/*---------------------
---- Story Section ----
---------------------*/
#story {
  background-image: url('../images/slash_it.png');
  height: 750px;
  width: 100%;
  font-family: 'ubuntu';
  color: #afab9d;
  padding-top: 10px;
}
#story h2 {
  text-align: center;
  font-size: 45px;
}
#blk-img {
  width: 90%;
  height: 400px;
  display: block;
  background-image: url('../images/300aac.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 20px auto 0 auto;
}
#blackout p {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}
#image-trio {
  width: 900px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}
#story-one {
  width: 260px;
  height: 190px;
  display: block;
  float: left;
  background-color: #777;
  margin: 0 15px 0 15px;
}
#story-one img {
  width: 100%;
  height: auto;
  margin: auto 0;
}
#story-two {
  width: 260px;
  height: 190px;
  display: block;
  float: left;
  background-color: #777;
  margin: 0 15px 0 15px;
}
#story-three {
  width: 260px;
  height: 190px;
  display: block;
  float: left;
  background-color: #777;
  margin: 0 15px 0 15px;
}
/*--------------
---- Footer ----
--------------*/#footer-styles {
  color: #ebd596;
  font-family: 'ubuntu';
  height: 650px;
  background-color: #231f20;
}
#footer-line {
  height: 4px;
  width: 100%;
  background-color: #2d2a29;
}
#footer-top {
  width: 100%;
  height: 180px;
  background-color: #292526;
  text-align: center;
  margin: 0;
  padding: 0;
}
#footer-top img {
  padding: 30px 10px 30px 10px;
}
#footer-top h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
#footer-mid {
  width: 100%;
  background-color: #231f20;
  text-align: center;
  color: #fff;
}
#footer-mid img {
  padding: 0;
  margin: 0 auto;
}
#footer-images {
  width: 300px;
  display: block;
  margin: 0 auto;
}
#footer-bottom {
  width: 900px;
  height: 350px;
  margin: 0 auto;
  color: #ebd596;
  padding-top: 20px;
}
#footer-mid ul {
  color: #ebd596;
  font-family: 'ubuntu';
  text-decoration: none;
  padding: 0;
  margin: 15px 0 0 0;
  list-style-type: none;
}
#footer-mid li {
  padding: 5px 0;
}
#footer-mid a {
  color: #ebd596;
  font-family: 'ubuntu';
  text-decoration: none;
}
#foot-nav {
  display: block;
  width: 300px;
  float: left;
  text-align: left;
}
#contact {
  display: block;
  width: 300px;
  float: left;
}
#hours {
  display: block;
  width: 300px;
  float: left;
}
#days {
  display: block;
  text-align: right;
  width: 260px;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
}
#times {
  display: block;
  text-align: left;
  width: 30px;
  float: right;
  height: auto;
  margin: 0;
  padding: 0;
}
/*-------------------
---- Gunsmithing ----
-------------------*/#gs-hero-section {
  background-image: url('../images/sandpaper_d.png');
  height: 1100px;
}
#glock {
  width: 50%;
  height: auto;
  float: left;
}
#glock img {
  width: 92px;
  display: block;
  padding: 50px 0 0 0;
  margin: 0 auto;
}
#gs-box1 {
  width: 50%;
  float: right;
  height: auto;
  padding: 50px 0 150px 0;
  font-family: 'ubuntu';
}
#gs-heromsg {
  float: left;
  font-family: 'ubuntu';
  color: #afab9d;
  column-width: 290px;
  -moz-column-width: 290px;
  /* Firefox */

  -webkit-column-width: 290px;
  /* Safari and Chrome */

}
#gs-heromsg h1 {
  font-family: 'ubuntu';
  color: #afab9d;
  font-size: 45px;
}
#gs-heromsg p {
  font-size: 24px;
}
#gs-heroimg {
  width: 100%;
  padding-top: 80px;
}
#gs-heroimg img {
  width: 100%;
  height: auto;
}
#gs-services {
  width: 100%;
  height: 800px;
  background-image: url('../images/slash_it.png');
  padding-top: 0;
  margin-top: 0;
}
#gs-services-list {
  width: 50%;
  padding-top: 50px;
  display: block;
  float: right;
}
#gs-services ul {
  padding: 0;
  margin: 0;
  font-family: 'ubuntu';
  color: #afab9d;
  list-style: none;
}
#gs-services p {
  padding-left: 20px;
  padding-right: 40%;
  column-width: 290px;
  -moz-column-width: 290px;
  /* Firefox */

  -webkit-column-width: 290px;
  /* Safari and Chrome */

}
#colt-bp {
  width: 47%;
  height: auto;
  margin: 0 auto;
  display: block;
  float: left;
  padding: 80px 0 0 0;
}
#colt-bp img {
  width: 90%;
  height: auto;
  float: right;
}
/*---------------------------
-----------------------------
-----------------------------
-----------------------------
--------- GALLERY -----------
-----------------------------
-----------------------------
-----------------------------
---------------------------*/
#gallery-bg {
  width: 100%;
  background-image: url('../images/sandpaper_d.png');
  height: 3100px;
}
#gallery-bg h3 {
  color: #afab9d;
  text-align: center;
  font-family: 'ubuntu';
}
#gallery-bg p {
  color: #afab9d;
  text-align: center;
  font-family: 'ubuntu';
}
#ga-logotop {
  height: 220px;
  width: 90%;
  padding-top: 100px;
  margin: 0 auto;
}
#ga-logotop img {
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gallery {
  width: 1080px;
  height: 700px;
  background-image: url('../images/slash_it.png');
  padding-top: 40px;
  margin: 0 auto;
}
#gallery h2 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  font-family: 'ubuntu';
  font-size: 36px;
  color: #afab9d;
}
#gallery-1 {
  width: 1080px;
  height: 400px;
  background-image: url('../images/slash_it.png');
  padding-top: 40px;
  margin: 0 auto;
}
#gallery-1 h2 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  font-family: 'ubuntu';
  font-size: 36px;
  color: #afab9d;
}
#gallery-f {
  width: 1080px;
  height: 1000px;
  background-image: url('../images/slash_it.png');
  padding-top: 40px;
  margin: 0 auto;
}
#gallery-f h2 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  font-family: 'ubuntu';
  font-size: 36px;
  color: #afab9d;
}
#gallery-item {
  display: block;
  float: left;
  margin: 0;
  padding: 5px 5px;
  width: 350px;
  height: 290px;
  font-family: 'ubuntu';
  color: #afab9d;
}
#g-block {
  display: block;
  height: 25px;
  width: 100%;
}
#left {
  margin: 0;
  padding: 40px 150px 0 10px;
}
#top {
  margin: 0;
  padding: 10px 40px 0 40px;
}
#right {
  margin: 0
	padding: 10px 10px 0 150px;
  text-align: right;
}
#bottom {
  margin: 0;
  padding: 185px 10px 10px 10px;
}
/*---------------
---- Concact ----
---------------*/#mapview {
  width: 1050px;
  height: 800px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}
#contactinfo {
  width: 300px;
  height: 800px;
  display: block;
  float: left;
  padding-top: 20px;
}
#contactinfo h2 {
  color: #afab9d;
  font-family: 'ubuntu';
  font-size: 24px;
}
#contactinfo p {
  color: #afab9d;
  font-family: 'ubuntu';
  font-size: 16px;
}
#googlemap {
  width: 700px;
  height: 550px;
  display: block;
  float: right;
  padding: 40px 0 40px 0;
}
/*--------------
---- Retail ----
--------------*/#retail-bg {
  background-image: url('../images/sandpaper_d.png');
  height: auto;
  font-family: 'ubuntu';
  color: #afab9d;
  padding-bottom: 100px;
}
#retail-bg h1 {
  font-size: 56px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 70px 0 110px 0;
}
#retail-hero-img {
  background-image: url('../images/rack1.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 120% auto;
  width: 100%;
  height: 400px;
}
#retail1,
#new-retail {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#retail1 h2,
#new-retail h2 {
  text-align: center;
  width: 100%;
  font-size: 36px;
}
#new-retail h3 {
  text-align: center;
  font-size: 24px;
}
#retail1 p,
#new-retail p {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#retail1 img {
  width: 100%;
  height: auto;
  margin: 20px 0 30px 0;
}
#retail-logo img {
  display: block;
  width: 290px;
  padding: 40px 0 20px 0;
  margin: 0 auto;
}
#inventory {
  width: 900px;
  height: 1500px;
  display: block;
  margin: 0 auto;
}
#retail-block {
  width: 440px;
  height: 700px;
  display: block;
  float: left;
  margin: 5px 5px;
  text-align: center;
}
#retail-block article {
  text-align: left;
  padding: 10px 10px;
}
/*---------------
---- Holster ----
---------------*/
#hol-hero-section {
  background-image: url('../images/sandpaper_d.png');
  height: 1600px;
}
#hol-logotop {
  height: 40px;
  width: 90%;
  padding-top: 100px;
  margin: 0 auto;
}
#hol-logotop img {
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hol-heroimg {
  width: 100%;
  padding-top: 80px;
}
#hol-heroimg img {
  width: 100%;
  height: auto;
}
#hol-box1 {
  width: 60%;
  float: right;
  height: auto;
  padding: 50px 0 150px 0;
}
#hol-heromsg {
  float: left;
  font-family: 'ubuntu';
  color: #afab9d;
  width: 80%;
  /*--
	column-width: 290px;
		-moz-column-width: 290px; /* Firefox */

  -webkit-column-width: 290px;
  /* Safari and Chrome */

}
#hol-heromsg h1 {
  font-size: 45px;
}
#hol-heromsg h2 {
  font-size: 30px;
}
#hol-heromsg p {
  font-size: 22px;
}
#hol-heromsg a {
  color: #afab9d;
  text-decoration: none;
}
#hol-heromsg a:hover {
  color: #fff;
}
#hol-heromsg a:visited {
  color: #afab9d;
}
